@model AplicacionWebAuroraBoutique.Modelo.Administrador

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdministrador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdministrador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
